body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
}
.top-15 {
	margin-top: 15px;
}
.chart {
  position: relative;
  left: 40px;
  display: block;
}
.y_axis {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
}
.x_axis {
  position: relative;
  left: 40px;
  height: 40px;
}
table {
  width:100%;
}
#wait-overlay {
	position: absolute;
	background-color: rgba(255,255,255,0.8);
	width: 100%;
	height: 100%;
	z-index: 100;
}
.controller-name input {
	border: none;
	box-shadow: none;
}
.controller-name input:focus {
	border: 1px solid #ccc;
	border-left: 0px;
	border-color: #66afe9;
	outline:0;
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6)
}
.controller-name span.input-group-addon {
	border: 1px solid #ccc;
}
#selected-range, #selected-range span {
	vertical-align: bottom;
}
#selected-range span.caret {
	vertical-align: text-bottom;
}
#selected-range span.dropdown {
	cursor: pointer;
}
.nav-pills li {
	min-width: 160px;
}
#sensors-list thead>tr>th,
	#sensors-list tbody>tr>th,
	#sensors-list tfoot>tr>th,
	#sensors-list thead>tr>td,
	#sensors-list tbody>tr>td,
	#sensors-list tfoot>tr>td {
	padding: 4px;
	cursor: pointer;
}