body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
}
.top-15 {
	padding-top: 15px;
}

.chart {
  position: relative;
  left: 40px;
  display: block;
}
.y_axis {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
}
.x_axis {
  position: relative;
  left: 40px;
  height: 40px;
}
table {
  width:100%;
}